        body{
            margin-top: 70px;
            animation:pageFade 1s ease;
        }

        @keyframes pageFade{
            from{
                opacity:0;
            }
            to{
                opacity:1;
            }
        }
                
        html {
            scroll-behavior: smooth;
        }
        #home {
            background-color: #0a0a0a;
        }
        .navbar-toggler {
            border:1px solid #c9a84c !important;
            padding:7px 10px;
            border-radius:8px;
            box-shadow:
            0 0 10px rgba(201,168,76,0.15);
        }

        @media(max-width:991px){

        .navbar-collapse{

                background:#111;

                padding:20px;

                margin-top:10px;

                border-radius:12px;

                border:1px solid #222;
            }
        }
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255,255,255,1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
        .navbar {
            transition: all 0.3s ease;
            background: rgba(10,10,10,0.75) !important;
            backdrop-filter: blur(4px);
            -webkit-backdrop-filter: blur(4px);
            border-bottom:1px solid rgba(255,255,255,0.05);
        }
        .navbar.scrolled {
            box-shadow: 0 4px 20px rgba(201, 168, 76, 0.15);
            border-bottom: 0.5px solid #1e1e1e;
        }
        .AURELIA-title {
            font-size: 28px;
            font-weight: bold;
            color: #c9a84c !important;
            cursor: pointer;
        }
        .AURELIA-links {
            color:#aaaaaa !important;
            text-decoration:none;
            font-size:18px;
            position:relative;
            transition:0.3s ease;
            padding-bottom:5px;

        }
        .AURELIA-links::after{

            content:"";

            position:absolute;

            left:50%;
            transform:translateX(-50%);
            bottom:0;

            width:0%;

            height:2px;

            background:#c9a84c;

            transition:0.4s ease;
        }
        .AURELIA-links:hover::after,
        .AURELIA-links.active::after,
        .AURELIA-links:focus::after{

            width:100%;
        }
        .AURELIA-links:hover,
        .AURELIA-links.active,
        .AURELIA-links:focus{

            color:#c9a84c !important;
        }
        .AURELIA-links:hover {
            color: #c9a84c !important;
        }
        .navbar-nav .nav-link:focus,
        .navbar-nav .nav-link:active {
            color:#c9a84c !important;
            box-shadow: none;
            outline: none;
        }
        .main-heading,
        .main-heading-2,
        .main-paragraph,
        .hero-buttons{
            animation: fadeUp 1s ease forwards;
            opacity:0;
        }

        .main-heading-2{
            animation-delay:0.3s;
        }

        .main-paragraph{
            animation-delay:0.6s;
        }

        .hero-buttons{
            animation-delay:0.9s;
        }

            @keyframes fadeUp{
                from{
                    opacity:0;
                    transform:translateY(40px);
                }
                to{
                    opacity:1;
                    transform:translateY(0);
                }
            }
        .main-heading {
            font-family: 'DM Sans', sans-serif;
            font-size: 15px;
            letter-spacing: 3px;
            font-weight: 400;
            color: #c9a84c;
            text-transform: uppercase;
        }
        .main-heading-2 {
            font-family: 'Playfair Display', serif;
            font-size: 52px;
            font-weight: 400;
            color: #f0ece4;
            margin-top: 0px;
            text-shadow: 0 0 25px rgba(255,255,255,0.08);
        }
        .main-paragraph {
            font-family: 'DM Sans', sans-serif;
            font-size: 20px;
            font-weight: 400;
            color: #666666;
            line-height: 1.7;
            margin-top: 0px;
        }
        .numers {
            font-family: 'Playfair Display', serif;
            font-size: 48px;
            font-weight: 400;
            color: #c9a84c;
            margin-bottom: 0px;
        }
        .numbers-dis {
            font-family: 'DM Sans', sans-serif;
            font-size: 13px;
            font-weight: 400;
            color: #666666;
            margin-top: 0px;
        }
        
         .card {
            background-color: #111;
            text-align: center;
            padding: 40px 20px;
            border-radius: 15px;
            margin-bottom: 20px;
        }
        .ROOMS-heading {
            font-family: 'DM Sans', sans-serif;
            font-size: 13px;
            letter-spacing: 3px;
            font-weight: 400;
            color: #c9a84c;
            text-transform: uppercase;
        }
        .ROOMS-heading-2 {
            font-family: 'Playfair Display', serif;
            font-size: 33px;
            font-weight: 400;
            color: #f0ece4;
            margin-top: 0px;
        }
        .ROOMS-paragraph {
            font-family: 'DM Sans', sans-serif;
            font-size: 16px;
            font-weight: 400;
            color: #666666;
            line-height: 1.7;
            margin-top: 0px;
        }
        .ROOMs-card {
            overflow: hidden;
            transition: 0.3s ease;
            margin-bottom: 30px;
            border: 1px solid #333;
        }

        .ROOMs-card:hover {
            transform:translateY(-12px) scale(1.02);
            box-shadow:
            0 15px 35px rgba(201,168,76,0.18),
            0 0 25px rgba(201,168,76,0.08);
        }
        .ROOMS-img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 5px;
            transition:transform 0.8s ease;
            cursor: pointer;
        }
        .ROOMs-card:hover .ROOMS-img{
            transform:scale(1.06);

        }
        .ROOMs-card{
            background-color: #111;
            padding: 20px;
            border-color: #333;
            border-width: 1px;
            border-style: solid;
            border-radius: 10px;
        }
        .ROOMS-list-heading {
            font-family:'DM Sans', sans-serif;
            font-size: 20px;
            font-weight: 500;
            color:  #f0ece4;
            margin-top: 15px;
        }
        .ROOMS-list-paragraph {
            font-family: 'DM Sans', sans-serif;
            font-size: 16px;
            font-weight: 400;
            color: #666666;
            line-height: 1.7;
            margin-top: 10px;
        }
        .ROOMS-list-price {
            font-family: 'DM Sans', sans-serif;
            font-size: 16px;
            font-weight: 600;
            color: #c9a84c;
            margin-top: 10px;
            cursor: pointer;
            display: inline-block;
            margin-right: 85px;
        }
        .hero-btn,
        .book-now-button,
        .now-button{
            transition:all 0.4s ease;
        }

        .hero-btn:hover,
        .book-now-button:hover,
        .now-button:hover{
            transform:translateY(-3px);
            box-shadow:
            0 10px 25px rgba(201,168,76,0.35),
            0 0 20px rgba(201,168,76,0.2);
        }
        .now-button {
            background:#25d366; 
            color:#fff;
            padding:10px 24px; 
            border-radius:5px;
            text-decoration:none; 
            font-weight:600;
            font-size:14px; 
            border:none;
        }
        .book-now-button{
            color: #c9a84c;
            background-color: transparent;
            border-color: #c9a84c;
            border-width: 1px;
            border-style: solid;
            border-radius: 5px;
            padding: 7px;
        }
        .book-now-button:hover {
            background-color: #c9a84c;
            color: #111;
            transition: 0.3s ease;
        }
        .AMENITIES-icon {
            font-size: 30px;
            color: #c9a84c;
            margin-bottom: 15px;
        }
         @media (max-width: 768px) {
            .stats-container {
                gap: 40px;
            }
        }
         @media (max-width: 576px) {
            .main-heading-2 {
                font-size: 28px;
            }
            .main-paragraph {
                font-size: 16px;
            }
            .numers {
                font-size: 32px;
            }
            .numbers-dis {
                font-size: 12px;
            }
        }
        .AMENITIES-card {
            background-color: #111;
            text-align: center;
            padding: 10px;
            border-radius: 15px;
            margin-top: 40px;
            transition: 0.3s ease;
        }
        .AMENITIES-card:hover {
            transform: translateY(-8px);
            box-shadow: 0 10px 25px rgba(201, 168, 76, 0.2);
        }

        .form-heading {
            font-family: 'DM Sans', sans-serif;
            font-size: 14px;
            font-weight: 500;
            color: #f0ece4;
        }
        @media (max-width: 768px) {
            .ROOMS-list-price {
                margin-right: 20px;
            }

            .main-heading-2 {
                font-size: 38px;
            }
        }
            @media (max-width: 576px) {
                .main-heading-2 {
                    font-size: 28px;
                }
                .main-paragraph {
                    font-size: 16px;
                }
                .ROOMS-list-price {
                    margin-right: 0;
                    display: block;
                    margin-top: 10px;
                }
            }
            .form-control,
            .form-select {
                background-color: #1a1a1a;
                border: 1px solid #333;
                color: #f0ece4;
                padding: 12px;
            }

            .form-control:focus,
            .form-select:focus {
                background-color: #1a1a1a;
                border-color: #c9a84c;
                box-shadow: 0 0 10px rgba(201, 168, 76, 0.3);
                color: #fff;
            }

            .form-control::placeholder {
                color: #777;
            }
            .review-icon {
                color: #c9a84c;
                font-size: 18px;
                margin-right: 5px;
                margin-bottom: 10px;
            }
            .review-card {
                background-color: #111;
                padding: 20px;
                border-radius: 10px;
                margin-bottom: 20px;
                border: 1px solid #333;
                transition: 0.3s ease;
            }
            .review-card:hover {
                transform: translateY(-5px);
                box-shadow: 0 8px 20px rgba(201, 168, 76, 0.3);
            }
            .review-paragraph {
                font-family: 'Playfair Display', serif;
                font-size: 16px;
                font-style: italic;
                font-weight: 400;
                color: #aaaaaa;
                line-height: 1.7;
            }
            .review-heading {
                font-family: 'DM Sans', sans-serif;
                font-size: 17px;
                font-weight: 400;
                letter-spacing: 1.5px;
                color: #c9a84c;
                text-transform: uppercase;
            }
            .review-dis {
                font-family: 'DM Sans', sans-serif;
                font-size: 14px;
                font-weight: 400;
                color: #666666;
            }
            .social-icon {
                font-size: 24px;
                color: #c9a84c;
                margin: 0 10px;
                transition: color 0.3s ease;
                cursor: pointer;
            }
            .social-icon:hover {
                color: #f0ece4;
            }
            .sub-icon {
                font-size: 18px;
                margin-right: 8px;
            }
             
            .hero-container {
                    background-image:
                        linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)),
                        url('https://images.openai.com/static-rsc-4/CwAWX7JYWeGQGEygMi84EZc-KLKeTscvRzn1j2fprdJpfNCr0rSmP1mAi9FYoIwHHU2DocUjUmDFLZXOvJfdi7LXHQzyJZbtYs3AcyjrafJ5nbfM9reTkJi2N0ZtZKlTve9WrfIgyFWYCmwrcOc6z2WXeAVyMiMgnxt6AVg4uvY2PXEfQu7u4mOo-Dp5wrZp?purpose=fullsize');
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    color: #f0ece4;
                    padding: 100px 20px;
                    text-align: center;
                    min-height: 100vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    animation: cinematicZoom 10s ease-in-out infinite alternate;
                    background-size:115%;
                    transition:all 0.5s ease;
                    position:relative;
                    overflow:hidden;
                }
                @keyframes cinematicZoom{

                    from{
                        background-size:115%;
                        background-position:center center;
                    }

                    to{
                        background-size:130%;
                        background-position:center center;
                    }
                }
            
                @media(max-width:576px){

                .hero-container{

                        animation:mobileZoom 15s ease-in-out infinite alternate;

                        background-size:140%;
                    }

                    @keyframes mobileZoom{

                        from{
                            background-size:140%;
                            background-position:60% center;
                        }

                        to{
                            background-size:155%;
                            background-position:55% center;
                        }
                    }
                }
                .hero-container::before{
                    content:"";
                    position:absolute;
                    inset:0;
                    background:
                    radial-gradient(circle at top right,
                    rgba(201,168,76,0.15),
                    transparent 40%);
                }
                .hero-btn{
                    background:#c9a84c;
                    color:#111;
                    border:none;
                    padding:12px 28px;
                    border-radius:5px;
                    font-weight:600;
                    margin-right:10px;
                }

                .hero-btn-outline{
                    background:transparent;
                    color:#c9a84c;
                    border:1px solid #c9a84c;
                    padding:12px 28px;
                    border-radius:5px;
                }

                .hero-btn:hover{
                    box-shadow:0 0 20px rgba(201,168,76,0.5);
                }

                .hero-btn-outline:hover{
                    background:#c9a84c;
                    color:#111;
                }
               
                @media (max-width: 768px) {
                    .hero-container {
                        padding: 80px 15px;
                    }
                }
                @media (max-width: 576px) {
                    .hero-container {
                        padding: 60px 10px;
                    }
                }
                @media (max-width: 400px) {
                    .hero-container {
                        padding: 40px 5px;
                    }
                }
                @media (max-width: 300px) {
                    .hero-container {
                        padding: 30px 5px;
                    }
                }
                @media (max-width: 200px) {
                    .hero-container {
                        padding: 20px 5px;
                    }
                }
                @media (max-width: 576px){
                .hero-container{
                    background-size:cover;
                    background-position:60% center;
                    min-height:90vh;
                }
            }
                .hero-btn{
                    background:#c9a84c;
                    color:#111;
                    border:none;
                    padding:12px 28px;
                    border-radius:5px;
                    font-weight:600;
                    margin-right:10px;
                }

                .hero-btn-outline{
                    background:transparent;
                    color:#c9a84c;
                    border:1px solid #c9a84c;
                    padding:12px 28px;
                    border-radius:5px;
                }

                .hero-btn:hover{
                    box-shadow:0 0 20px rgba(201,168,76,0.5);
                }

                .hero-btn-outline:hover{
                    background:#c9a84c;
                    color:#111;
                }
                .noise{

                    position:fixed;

                    inset:0;

                    background-image:url("https://www.transparenttextures.com/patterns/asfalt-light.png");

                    opacity:0.03;

                    pointer-events:none;

                    z-index:9999;
                }
                ::-webkit-scrollbar{
                    width:10px;
                }

                ::-webkit-scrollbar-track{
                    background:#0a0a0a;
                }

                ::-webkit-scrollbar-thumb{
                    background:#c9a84c;
                    border-radius:20px;
                }

                ::-webkit-scrollbar-thumb:hover{
                    background:#e0c36c;
                }
                footer a{
                    transition:0.3s ease;
                }

                footer a:hover{
                    color:#c9a84c !important;
                    transform:translateX(5px);
                }
